.gradient-columns {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    height: 0;
}

#left-col {
    z-index: -1;
    background: linear-gradient(to right, #1d0a02, rgb(88, 39, 6));
    width: 15%;
    height: 5000px;
}

#mid-col {
    z-index: -1;
    background:rgb(88, 39, 6);
    width: 70%;
    height: 5000px;
}

#right-col {
    z-index: -1;
    background: linear-gradient(to left, #1d0a02, rgb(88, 39, 6));
    width: 15%;
    height: 5000px;
}
